* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.Home{
    padding: 2em;
    max-width: 1600px;

    .RestImage {
        width: 25%;
        padding-left: 0;
     
     }
     
     .RestName {
         font-size: 30px;
         font-weight: 600;
     }
}



