.navBar{
    width: 100%;
    background-color: #222;

    ul{
        margin: auto;
        width: 60%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        height: 7em;

        li{
            list-style: none;

            a{
                color: white;
                text-decoration: none;

                &:hover{
                    color: #666;
                }

                img {
                    max-width: 100%;
                    margin-top: 0.2em;
                }
            }
        }
    }
}